@font-face {
    font-family: 'Circular';
    src: url('/Circular-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/Circular-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

// @font-face {
//     font-family: 'Roboto';
//     src: url('/Roboto-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Circular';
    src: url('/Circular-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





