$tinybp: 375px;
$smallbp: 500px;
$mediumbp: 768px;
$largebp: 960px;
$xlargebp: 1140px;

$black: #161616;
$blackHover: #272727;
$black10: rgba(22, 22, 22, 0.1);
$black70: rgba(22, 22, 22, 0.7);
$white: #fff;
$white50: rgba(255, 255, 255, 0.5);
$white10: rgba(255, 255, 255, 0.1);

$gray: #858585;
$grayBg: #f6f6f6;
$border: #f0f0f0;
$formBorder: #d4d4d4;
$formBorderFocus: #aaaaaa;
$red: #dd2929;
$redHover: #fa3636;
$orange: #fa7c0f;
$green: #28a745;
$greenHover: #31be52;


$font: 'Noto Sans TC', serif;
$font2: 'Noto Sans TC', sans-serif;

$radius: 5px;
$largeRadius: 10px;
$largeShadow: 0px 10px 20px 0px rgba(0,0,0,0.09);;
$shadow: 0px 5px 10px 0px rgba(0,0,0,0.09);

